@media only screen and (max-width: 667px) {
  body {
    background-color: #E0EDB3; 
  }
 .consulta-carne{
 	display: flex;
 	flex-direction: column;
	justify-content: space-between;
	align-content: flex-end;
}
.video-consulta{
	align-items: flex-start;
	display:flex;
 	padding: 10px;
 }
.cuerpo01{
	display: flex;
 	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
	}
	.img-compost {
		align-items: flex-start;
	display:flex;
 	padding: 10px;
	}

.courusel-inner img {
	width:100%;
	heigth: 100%;
}
}


@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #EBDCAD; 
  }
 .consulta-carne{
 	display: flex;
 	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
}
.video-consulta{
	align-items: flex-end;
	display:flex;
 	padding: 20px 20px 20px 20px;
 }
  /*Compost*/
 .cuerpo01{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	 
.img-compost{
	padding: 10px;
	}
.text-compost{
	justify-content: flex-end;
	padding:10px;
	}
}
.video-compost {
	padding:10px;
}
.img-ejemplo-compost{
	padding:10px;
}
.courusel-inner img {
	width:100%;
	heigth: 100%;
}
}
